<dl class="desc-list">
    <div class="desc-list__item">
        <dt>Project Assistant</dt> <dd>Francesco Dompieri</dd>
    </div>
    <div class="desc-list__item">
        <dt>Material</dt> <dd>Glass and Metal</dd>
    </div>
    <div class="desc-list__item">
        <dt>Typology</dt> <dd>Suspension lamp</dd>
    </div>
    <div class="desc-list__item">
        <dt>Year</dt> <dd>2014</dd>
    </div>
</dl>
