<footer class="footer">
    <div class="footer__map">map</div>

    <div class="footer__block">
        {{> contacts class="footer__contacts"}}

        <div class="footer__brand">
            {{> brand}}
            {{> social-network}}
        </div>

        <p class="footer__copyright">
            <i class="far fa-copyright"></i>
            2014  DSGN. All rights reserved - Designed by
            {{> link link="theuncreativelab.com"}}
        </p>
    </div>
</footer>
