<header class="section header">
    <div class="header__left project">
        {{> brand}}
        {{> social-network}}
    </div>

    <div class="header__right section__header">
        {{> contacts}}
    </div>
</header>
