<section class="section projects">
    <div class="projects__left">
        <header class="section__header projects__header">
            <div class="section__header-left">
                <ul class="filter">
                    <li class="filter__item _active">
                        <a href="javascript:void(0);">{{> arrow}} All</a>
                    </li>
                    <li class="filter__item">
                        <a href="javascript:void(0);">{{> arrow}} House</a>
                    </li>
                    <li class="filter__item">
                        <a href="javascript:void(0);">{{> arrow}} Commercial</a>
                    </li>
                    <li class="filter__item">
                        <a href="javascript:void(0);">{{> arrow}} Personal</a>
                    </li>
                    <li class="filter__item">
                        <a href="javascript:void(0);">{{> arrow}} Studio Lab</a>
                    </li>
                </ul>
            </div>
            <div class="section__header-right">
                <h2 class="section__title">Projects</h2>
            </div>
        </header>

        <div class="project _fondue">
            <h4 class="project__name">fondue</h4>

            <dl class="desc-list">
                <div class="desc-list__item">
                    <dt>Project Assistant</dt> <dd>Francesco Dompieri</dd>
                </div>
                <div class="desc-list__item">
                    <dt>Material</dt> <dd>Glass and Metal</dd>
                </div>
                <div class="desc-list__item">
                    <dt>Typology</dt> <dd>Suspension lamp</dd>
                </div>
                <div class="desc-list__item">
                    <dt>Year</dt> <dd>2014</dd>
                </div>
            </dl>

            {{> project__link}}
            {{> like}}
        </div>

        <div class="project _louis">
            <h4 class="project__name">louis XX</h4>

            <dl class="desc-list">
                <div class="desc-list__item">
                    <dt>Project Assistant</dt> <dd>Francesco Dompieri</dd>
                </div>
                <div class="desc-list__item">
                    <dt>Material</dt> <dd>Glass and Metal</dd>
                </div>
                <div class="desc-list__item">
                    <dt>Typology</dt> <dd>Suspension lamp</dd>
                </div>
                <div class="desc-list__item">
                    <dt>Year</dt> <dd>2014</dd>
                </div>
            </dl>

            {{> project__link}}
            {{> like}}
        </div>

        <div class="project _p22">
            <h4 class="project__name">p22</h4>

            <dl class="desc-list">
                <div class="desc-list__item">
                    <dt>Project Assistant</dt> <dd>Francesco Dompieri</dd>
                </div>
                <div class="desc-list__item">
                    <dt>Material</dt> <dd>Glass and Metal</dd>
                </div>
                <div class="desc-list__item">
                    <dt>Typology</dt> <dd>Suspension lamp</dd>
                </div>
                <div class="desc-list__item">
                    <dt>Year</dt> <dd>2014</dd>
                </div>
            </dl>

            {{> project__link}}
            {{> like}}
        </div>
    </div>

    <div class="projects__right">
        <div class="project _potter">
            <h4 class="project__name">potter</h4>

            <dl class="desc-list">
                <div class="desc-list__item">
                    <dt>Project Assistant</dt> <dd>Francesco Dompieri</dd>
                </div>
                <div class="desc-list__item">
                    <dt>Material</dt> <dd>Glass and Metal</dd>
                </div>
                <div class="desc-list__item">
                    <dt>Typology</dt> <dd>Suspension lamp</dd>
                </div>
                <div class="desc-list__item">
                    <dt>Year</dt> <dd>2014</dd>
                </div>
            </dl>

            {{> project__link}}
            {{> like}}
        </div>

        <div class="project _tabano">
            <h4 class="project__name">tabano</h4>

            <dl class="desc-list">
                <div class="desc-list__item">
                    <dt>Project Assistant</dt> <dd>Francesco Dompieri</dd>
                </div>
                <div class="desc-list__item">
                    <dt>Material</dt> <dd>Glass and Metal</dd>
                </div>
                <div class="desc-list__item">
                    <dt>Typology</dt> <dd>Suspension lamp</dd>
                </div>
                <div class="desc-list__item">
                    <dt>Year</dt> <dd>2014</dd>
                </div>
            </dl>

            {{> project__link}}
            {{> like}}
        </div>

        <div class="project _fiji">
            <h4 class="project__name">fiji</h4>

            <dl class="desc-list">
                <div class="desc-list__item">
                    <dt>Project Assistant</dt> <dd>Francesco Dompieri</dd>
                </div>
                <div class="desc-list__item">
                    <dt>Material</dt> <dd>Glass and Metal</dd>
                </div>
                <div class="desc-list__item">
                    <dt>Typology</dt> <dd>Suspension lamp</dd>
                </div>
                <div class="desc-list__item">
                    <dt>Year</dt> <dd>2014</dd>
                </div>
            </dl>

            {{> project__link}}
            {{> like}}
        </div>
    </div>

    <div class="projects__footer">
        <div class="project _sesann">
            <h4 class="project__name">sesann</h4>

            <dl class="desc-list">
                <div class="desc-list__item">
                    <dt>Project Assistant</dt> <dd>Francesco Dompieri</dd>
                </div>
                <div class="desc-list__item">
                    <dt>Material</dt> <dd>Glass and Metal</dd>
                </div>
                <div class="desc-list__item">
                    <dt>Typology</dt> <dd>Suspension lamp</dd>
                </div>
                <div class="desc-list__item">
                    <dt>Year</dt> <dd>2014</dd>
                </div>
            </dl>

            {{> project__link}}
            {{> like}}
        </div>

        <div class="project _alessi">
            <h4 class="project__name">alessi</h4>

            <dl class="desc-list">
                <div class="desc-list__item">
                    <dt>Project Assistant</dt> <dd>Francesco Dompieri</dd>
                </div>
                <div class="desc-list__item">
                    <dt>Material</dt> <dd>Glass and Metal</dd>
                </div>
                <div class="desc-list__item">
                    <dt>Typology</dt> <dd>Suspension lamp</dd>
                </div>
                <div class="desc-list__item">
                    <dt>Year</dt> <dd>2014</dd>
                </div>
            </dl>

            {{> project__link}}
            {{> like}}
        </div>

        <div class="projects__timeline">
            <ul class="filter">
                <li class="filter__item _active">
                    <a href="javascript:void(0);">{{> arrow}} Timeline</a>
                </li>
                <li class="filter__item">
                    <a href="javascript:void(0);">{{> arrow}} 2014</a>
                </li>
                <li class="filter__item">
                    <a href="javascript:void(0);">{{> arrow}} 2013</a>
                </li>
                <li class="filter__item">
                    <a href="javascript:void(0);">{{> arrow}} 2012</a>
                </li>
                <li class="filter__item">
                    <a href="javascript:void(0);">{{> arrow}} 2011</a>
                </li>
                <li class="filter__item">
                    <a href="javascript:void(0);">{{> arrow}} 2010</a>
                </li>
            </ul>
        </div>
    </div>
</section>
