.article
  padding 15px

  &__title
    margin 0

    color $c-text
    font-size 24px
    font-weight 700
    text-transform uppercase

  &__date
    display block
    margin-bottom 1.5em

    color #6a6969
    font-size 12px
    font-weight 400

  &__img
    &.picture
      display block
      margin-bottom 2em

  &__text
    margin 0

    color #6a6969
    font-size 12px
    font-weight 400

  &__footer
    text-align right
