.desc-list
  margin 0

  &__item
    display block

    font-size 12px
    text-transform uppercase

  dt
    display inline-block

    font-weight 700

    &:after
      content ':'

  dd
    display inline-block
    margin-left 0

    font-weight 300
