.footer
  display flex

  &__map
    flex 1 1 50.13%

    background-color #6a6969

  &__block
    display flex
    flex-wrap wrap
    flex 1 1 49.87%
    padding-bottom 55px

  &__copyright
    flex-basis 100%
    margin 0

    color #191919
    font-size 12px
    font-weight 400
