@import "vars.styl"

.menu
  height 100%
  margin 0
  padding 0

  list-style none
  background-color menu-background-color
  // shadow at the right

  > li
    > span
      background-color lighten(menu-background-color, 50%)
      cursor default

      &.disabled
        background-color menu-background-color
        color darken(menu-link-color, 50%)

    > a
      display block
      color menu-link-color
      text-decoration none
      cursor pointer

      &:hover
        background-color lighten(menu-background-color, 15%)

    > a,
    > span
      display block

      padding 7px 10px

  .menu
    > li
      > a,
      > span
        padding-left 20px
