.like
  text-align center

  &__btn
    border none
    padding 0
    margin-bottom .2em

    font-size 21px
    line-height 1

    background-color transparent
    outline none

    &:active
    &:hover
      //

  &__count
    display block

    color $c-accent-red
    font-size 11px
    font-weight 300
