.link
  position relative
  display inline-block

  color inherit
  text-decoration none

  transition $transition

  &:hover
    &:before
      top 0

  &:before
    content ''
    display block

    position absolute
    z-index -1
    top 100%
    right 0
    bottom @right
    left @right

    background-color $c-accent-orange
    transition inherit

