.news
  $c-news = $c-accent-green

  &__header
    background-color $c-news

    &.section__header:after
      background-color $c-news

  &__articles
    display flex
    padding 0 40px
    margin-left 45px

  &__article
    flex 1
