@import "vars.styl"

.page-title
  margin 0 0 10px
  padding 10px 40px

  font-size 40px
  font-weight 700
  background-color lighten(menu-background-color, 10%)
  color darken(menu-link-color, 10%)
  text-align center
