.project
  background-position 50%
  background-size cover
  background-repeat no-repeat

  &__name
    margin 0

    color $c-text
    font-size 24px
    font-weight 400
    text-transform uppercase

  &__link
    color $c-text
    font-size 18px
    font-weight 300
    text-decoration none
    text-transform uppercase

  &._fondue
    flex-basis 38vw

    background-image url('/img/project-fondue.jpg')

  &._louis
    flex-basis 20vw

    background-image url('/img/project-louis.jpg')

  &._p22
    flex 1

    background-image url('/img/project-p22.jpg')

  &._potter
    background-image url('/img/project-potter.jpg')

  &._tabano
    flex 1

    background-image url('/img/project-tabano.jpg')

  &._fiji
    background-image url('/img/project-fiji.jpg')

  &._sesann
    flex 1

    background-image url('/img/project-sesann.jpg')

  &._alessi
    flex-basis 20vw

    background-image url('/img/project-alessi.jpg')
