.section
  display flex

  &__header
    position relative
    display flex
    flex-direction column
    //width 465px
    //height 502px
    flex 0 0 31vw
    height 33.5vw

    color $c-text-white

    &:before
    &:after
      content ''
      position absolute
      z-index -1
      top 0
      right @top
      bottom @top
      left @top

    &:before
      // bigger
      clip-path polygon(0 0, calc(100% + 1px) 0, 0 calc(100% + 1px))
      background-color $c-text-white

    &:after
      // smaller
      clip-path polygon(0 0, calc(100% - 1px) 0, 0 calc(100% - 1px))

  &__title
    margin 0

    // #fefefe
    color darken($c-text-white, .5%)
    font-size 48px
    font-weight 400
    text-transform uppercase
