content-color := black

// left-menu
menu-width := 150px
menu-background-color := #111
menu-link-color := rgba(255, 255, 255, 1)

// carousel
carousel-control-font-size := 30px
carousel-control-size := 32px
carousel-control-offset := 10px
carousel-control-border-radius := 80px
carousel-control-background-color := rgba(0, 0, 0, 0.4)
