$c-primary = #7bcbc1
$c-primary-light = #7acec3
$c-secondary = #ebb240
// #f8c255
$c-secondary-light = #f8c255

$c-accent-red = #ff0000
$c-accent-orange = #fd5000
$c-accent-orange-light = #ff9b6d
$c-accent-green = #d4edbf
$c-accent-green-light = #e5e9df

$c-text-white = #fff
$c-text-light = #393d3c
$c-text = #333333
$c-text-dark = #191919

$c-base-bg = #e9eae2

$transition = .2s ease-in-out
